<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>edu.gzhu.yk.servlet.UploadHandleServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>edu.gzhu.yk.servlet.LoginHandleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>edu.gzhu.yk.servlet.RegistHandleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getPictures</servlet-name>
		<servlet-class>edu.gzhu.yk.servlet.GetADHandleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getPictures</servlet-name>
		<url-pattern>/getPictures</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>